{% extends "base.html.twig" %}
{% block body %}
	<code>
		<h3>Votre demande a été bien prise en compte ! ✅. Un email de confimation vous sera renvoyé dans un plus bref délai merci de patienter ...</h3>
		<h4>
			<a href="{{path('accueil')}}">cliquer ici pour retourner à l'acceuil !!</a>
		</h4>
	</code>
</html>{% endblock %}
